version: "3.9"

services:
  api:
    container_name: beatbay-api
    build: .
    restart: always
    ports:
      - "127.0.0.1:5000:5000"
    env_file:
      - .env
    depends_on:
      - redis
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:7-alpine
    container_name: beatbay-redis
    restart: always
    volumes:
      - redis-data:/data

volumes:
  redis-data: