
services:
  # The Node.js application service
  app:
    build: .
    ports:
      - '4000:4000'
    volumes:
      - .:/usr/src/app
    command: npm run dev

    depends_on:
      - redis
    environment:
      # This is how the app connects to the Redis service
      REDIS_URL: redis://redis:6379

  # The Redis service
  redis:
    image: 'redis:7.2-alpine'
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

volumes:
  redis-data:
